* {
    box-sizing: border-box;
}

header {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 10px 0 10px 0;
    width: 100%;
}

.flex-container {
    display: flex;
    background-color: lightseagreen;
    width: 100%;
}

.flex-container div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    padding-bottom: 30px;
    margin-left: 15px;
}

.city-name-container {
    margin-right: 20px;
    font-size: 20px;
}

.date-container {
    font-size: 20px;
}

.future-forecast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 350px;
}


/* .flex-container2 {
    display: flex;
    width: 100%;
    margin-top: 35px;
    background-color: violet;
} */

.flex-container2 div {
    padding-bottom: 100px;
    padding-right: 25%;
}

.retrieve-city {
    width: 20%;
}

section {
    border: 2px solid black;
    margin-right: 1210px;
    margin-left: 10px;
    margin-top: 20px;
    padding-bottom: 20px;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h2 {
    margin-left: 15px;
    font-size: 25px;
    padding-right: 15px;
}

h3 {
    font-size: 20px;
}

input {
    margin-left: 15px;
    font-size: 15px;
    width: 77%;
}

button {
    margin-left: 15px;
    background-color: lightskyblue;
    color: white;
    font-size: 15px;
    margin-top: 10px;
    width: 76.5%;
}

p {
    font-size: 25px;
    margin-left: 15px;
}